<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height">
    <title>Happy 4th Anniversary Amy!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="card.js"></script>
</head>

<body>
    <input type="checkbox" id="card-toggle-1" class="card-toggle" value="selected">
    <label class='card' for="card-toggle-1">
        <div class='front face'>
            <img src='cm2.jpg'>
            <span class="love">Love...</span>
        </div>
        <div class="inner-left face">
            <img src="weddingKiss.jpg" alt="smooch">
        </div>
        <div class="inner-right face">
            <h1 class="happyAnnHeader">Happy 4th Anniversary!</h1>
            <img class="confetti hidden" src="confetti.gif" alt="confetti">
            <p class="mainText">
                &nbsp;&nbsp;&nbsp;&nbsp;It's been an awesome ride! Thanks so much for sticking it out with me and being the best wife ever! I'm so proud of the wonderful home and family we've built together. Here's to many more happy anniversaries to come!
            </p>
            <img class="clink" src="clink.jpg" alt="clink">
            <h4 class="signature">Love, <br>&nbsp;&nbsp;Your Josharoo</h4>
        </div>
    </label>
</body>

</html>
